@import "../Vars.scss";
@import "../Reset.scss";

.body {
    background-image: url(../../images/bg-intro-mobile.png);
    background-color: $--color-red;
    height: 100vh;
    padding: 80px 30px 50px 30px;

    @media all and (min-width: 768px) {
        background-image: url(../../images/bg-intro-desktop.png);
    }
}